@charset "utf-8";
.commonWidth {
  width: 1192px;
  margin: 0 auto;
}
.hover {
  background-color: white;
}
a {
  margin-right: 5px;
}
a:hover {
  color: red;
}
header {
  position: relative;
  height: 38px;
}
header li {
  width: 80px;
  float: left;
  line-height: 38px;
  padding-left: 5px;
}
header i {
  width: 0;
  height: 0;
  border-top: 3px solid #9C9C9C;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  top: 18px;
}
header strong {
  color: red;
  font-weight: bold;
}
header .top-left > ul > li:nth-child(2) img {
  float: left;
  margin-top: 12px;
  margin-right: 5px;
}
header .top-left > ul > li:last-child {
  margin-right: 320px;
}
header .top-right > ul > li:nth-child(2) {
  margin-right: 15px;
}
header .top-right > ul > li:nth-child(2) img {
  float: left;
  margin-top: 12px;
  margin-right: 5px;
}
header .top-right > ul > li:nth-child(3) img {
  float: left;
  margin-top: 12px;
  margin-right: 5px;
}
header .top-right > ul > li:last-child img {
  float: left;
  margin-top: 12px;
  margin-right: 5px;
}
.content-focus {
  background-color: #FF5400!important;
  color: #fff;
  font-weight: bold;
}
.content-focus-2 {
  background-color: #C60000;
  color: #fff;
  font-weight: bold;
}
#content {
  min-width: 1366px;
  position: relative;
}
#content #main-top {
  background-color: #fff;
  height: 164px;
  width: 100%;
  position: relative;
}
#content #main-top #taobao-logo {
  display: inline-block;
  margin-left: 74px;
  float: left;
  margin-right: 80px;
}
#content #main-top #search {
  position: relative;
  float: left;
}
#content #main-top #search a:hover {
  color: red;
}
#content #main-top #search p {
  margin-top: 30px;
}
#content #main-top #search p > span {
  display: inline-block;
  height: 26px;
  width: 50px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  margin-bottom: -3px;
}
#content #main-top #search p > span:hover {
  background-color: #F9E6E6;
}
#content #main-top #search input {
  height: 34px;
  width: 480px;
  border: 3px solid #FF4200;
  font-size: 14px;
  padding: 0 10px;
}
#content #main-top #search #search-icon {
  position: absolute;
  left: 15px;
  top: 67px;
}
#content #main-top #search #camera {
  position: absolute;
  right: 176px;
  top: 69px;
}
#content #main-top #search button {
  height: 40px;
  width: 124px;
  background-color: #ff4200;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
#content #main-top #search button:hover {
  background-color: #F52B00;
  cursor: pointer;
}
#content #main-top #search #gjss {
  display: inline-block;
  width: 40px;
  position: relative;
  line-height: 16px;
  top: 5px;
  left: 10px;
}
#content #main-top #search li {
  float: left;
  display: inline-block;
  height: 34px;
  margin-right: 6px;
  margin-top: 10px;
}
#content #main-top #search li:nth-child(1) a,
#content #main-top #search li:nth-child(3) a,
#content #main-top #search li:nth-child(6) a {
  color: red;
}
#content #main-top #search li:last-child {
  float: right;
  margin-right: 50px;
}
#content #main-top #erweima {
  margin-top: 30px;
  float: right;
  margin-right: 76px;
}
#content #main-top #top-bar {
  position: absolute;
  left: 80px;
  top: 128px;
}
#content #main-top #top-bar li {
  float: left;
}
#content #main-top #top-bar li a {
  display: inline-block;
  height: 30px;
  margin: 4px;
  line-height: 30px;
  padding: 0 4px;
  border-radius: 20px;
  font-size: 15px;
  font-family: "微软雅黑";
  font-weight: bold;
}
#content #main-top #top-bar li a:hover {
  background-color: #FF6537;
  color: #fff;
}
#content #main-top #top-bar li:nth-child(2) a,
#content #main-top #top-bar li:nth-child(3) a,
#content #main-top #top-bar li:nth-child(4) a {
  font-family: "宋体";
  color: #FF4400;
  font-size: 17px;
  margin: 4px 5px;
}
#content #main-top #top-bar li:nth-child(2) a:hover,
#content #main-top #top-bar li:nth-child(3) a:hover,
#content #main-top #top-bar li:nth-child(4) a:hover {
  color: #fff;
}
#content #main-top #top-bar li:nth-child(4) {
  margin-right: 18px;
}
#content #main-top #top-bar li:nth-child(9) {
  margin-right: 18px;
}
#content #main-top #top-bar li:nth-child(1) img {
  position: absolute;
  top: 10px;
  left: 166px;
}
#content #main-top #top-bar li:nth-child(1) a {
  color: #fff;
  border-radius: 0;
  margin: 0;
  background-color: #FF6537;
  font-size: 15px;
  line-height: 36px;
  font-weight: bold;
  width: 172px;
  height: 36px;
  padding: 0px 10px;
}
#content #main-top #top-bar li:nth-child(2) {
  margin-left: 10px;
}
#content #main-left-bar {
  width: 194px;
  float: left;
  margin-left: 80px;
}
#content #main-left-bar li {
  background-color: #FF6537;
  overflow: hidden;
  color: #fff;
  height: 20px;
  width: 172px;
  padding: 5px 10px;
  line-height: 20px;
}
#content #main-left-bar li a {
  color: #fff;
  font-weight: bold;
}
#content #main-left-bar li a:hover {
  text-decoration: underline;
}
#content #main-left-bar li img {
  float: left;
}
#content #main-left-bar li span {
  float: right;
}
#content #main-left-bar a:last-child {
  position: relative;
  top: -15px;
}
#content #main-middle {
  float: left;
}
#content #main-middle #focusImg-1 {
  padding: 10px;
}
#content #main-middle #focusImg-1 .left {
  float: left;
  overflow: hidden;
  height: 280px;
  position: relative;
  width: 520px;
  left: 10px;
}
#content #main-middle #focusImg-1 .left #imgs-1 {
  position: relative;
  width: 3640px;
  height: 280px;
}
#content #main-middle #focusImg-1 .left #imgs-1 img {
  float: left;
}
#content #main-middle #focusImg-1 .left .buttons {
  position: absolute;
  height: 10px;
  width: 100px;
  z-index: 2;
  bottom: 10px;
  left: 220px;
}
#content #main-middle #focusImg-1 .left .buttons span {
  cursor: pointer;
  float: left;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  margin-right: 5px;
}
#content #main-middle #focusImg-1 .left .buttons .on {
  background: orangered;
}
#content #main-middle #focusImg-1 .left .arrow {
  cursor: pointer;
  display: none;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
#content #main-middle #focusImg-1 .left .arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#content #main-middle #focusImg-1 .left:hover .arrow {
  display: block;
}
#content #main-middle #focusImg-1 .left #prev {
  top: 120px;
}
#content #main-middle #focusImg-1 .left #next {
  top: 120px;
  right: 0;
}
#content #main-middle #focusImg-1 .right {
  float: left;
  margin-left: 20px;
}
#content #main-middle #focusImg-2 {
  position: relative;
  padding: 10px;
}
#content #main-middle #focusImg-2 .left {
  float: left;
  height: 244px;
  position: relative;
  overflow: hidden;
  width: 518px;
  left: 10px;
}
#content #main-middle #focusImg-2 .left .top {
  margin-bottom: -3px;
}
#content #main-middle #focusImg-2 .left .top img {
  display: inline-block;
}
#content #main-middle #focusImg-2 .left .top span {
  display: inline-block;
  position: absolute;
  top: 12px;
  border-bottom: 2px solid #C12C26;
  text-indent: 5px;
}
#content #main-middle #focusImg-2 .left .top span strong {
  padding-left: 243px;
  color: red;
}
#content #main-middle #focusImg-2 .left .top .page {
  position: absolute;
  right: 0;
}
#content #main-middle #focusImg-2 .left #imgs-2 {
  position: relative;
  width: 3626px;
}
#content #main-middle #focusImg-2 .left #imgs-2 img {
  float: left;
}
#content #main-middle #focusImg-2 .left .buttons {
  position: absolute;
  height: 10px;
  width: 100px;
  z-index: 2;
  bottom: 22px;
  left: 220px;
}
#content #main-middle #focusImg-2 .left .buttons span {
  cursor: pointer;
  float: left;
  border: 1px solid #fff;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  margin-right: 5px;
}
#content #main-middle #focusImg-2 .left .buttons .on {
  background: orangered;
}
#content #main-middle #focusImg-2 .left .arrow {
  cursor: pointer;
  display: none;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 20px;
  height: 30px;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}
#content #main-middle #focusImg-2 .left .arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
#content #main-middle #focusImg-2 .left:hover .arrow {
  display: block;
}
#content #main-middle #focusImg-2 .left #prev2 {
  top: 120px;
}
#content #main-middle #focusImg-2 .left #next2 {
  top: 120px;
  right: 0;
}
#content #main-middle #focusImg-2 .right {
  margin-top: 12px;
  float: left;
  margin-left: 20px;
}
#content #main-right .Rtop {
  float: left;
  position: relative;
  text-align: center;
  width: 290px;
}
#content #main-right .Rtop img {
  margin-top: 20px;
  margin-left: 110px;
}
#content #main-right .Rtop span {
  background: url(../images/jinbi.jpg) no-repeat left center;
  padding: 2px 0 2px 20px;
  line-height: 20px;
}
#content #main-right .Rtop span a {
  color: #FF4400;
}
#content #main-right .Rtop .btn {
  display: inline-block;
  background-color: #FF4400;
  height: 26px;
  width: 85px;
  line-height: 26px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}
#content #main-right .Rtop .btn:hover {
  background-color: #F22D00;
  cursor: pointer;
}
#content #main-right .Rtag {
  background-color: #fff;
  width: 290px;
  float: left;
  margin-top: 23px;
  margin-bottom: 1px;
}
#content #main-right .Rtag ul {
  display: block;
  height: 35px;
  line-height: 30px;
  margin-top: 10px;
}
#content #main-right .Rtag ul li {
  float: left;
  height: 23px;
  line-height: 23px;
  display: inline-block;
  width: 42px;
  text-align: center;
  padding: 0 2px;
  margin: 2px 5px 0 3px;
}
#content #main-right .Rtag ul li:first-child {
  margin-left: 15px;
}
#content #main-right .Rtag div {
  height: 58px;
  line-height: 25px;
  margin-left: 20px;
  font-size: 12px;
}
#content #main-right .Rtag div a {
  display: inline-block;
  width: 120px;
}
#content #main-right .Rtag-2 {
  position: relative;
  float: left;
  width: 292px;
  height: 200px;
}
#content #main-right .Rtag-2 dl {
  cursor: pointer;
  background-color: #fff;
  border: 1px #f5f5f5 solid;
  float: left;
  height: 73px;
  width: 71px;
}
#content #main-right .Rtag-2 dl img {
  margin: 10px auto;
}
#content #main-right .Rtag-2 dl dd {
  text-align: center;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 {
  display: none;
  overflow: hidden;
  width: 290px;
  border: 1px solid #FF4400;
  border-top: none;
  background-color: #fff;
  position: absolute;
  top: 75px;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 ul {
  display: block;
  height: 32px;
  width: 264px;
  border-right: 1px solid #FF4400;
  margin: 0 26px;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 ul li {
  background-color: #fff;
  float: left;
  height: 32px;
  width: 60px;
  line-height: 32px;
  text-align: center;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 .cancle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 .container .container-2 {
  width: 1160px;
  height: 135px;
  position: relative;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 .container .container-2 div {
  margin-right: -1px;
  border-right: 1px solid #FF4400;
  position: relative;
  float: left;
  width: 290px;
  height: 135px;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 .container .container-2 div input {
  border: 1px solid #9C9C9C;
  margin: 0px 84px 0px 15px;
  width: 188px;
  height: 24px;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 .container .container-2 div span {
  position: absolute;
  top: 31px;
  right: 97px;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 .container .container-2 div img {
  position: absolute;
  top: 5px;
  right: 93px;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 .container .container-2 div p {
  margin: 10px 15px;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 .container .container-2 div p strong {
  color: #FF6600;
  font-weight: bold;
}
#content #main-right .Rtag-2 #Rtag-2-bg1 .container .container-2 div button {
  height: 28px;
  width: 72px;
  background-color: #F22D00;
  margin: -5px 0 5px 15px;
  color: #fff;
  font-weight: bold;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 {
  display: none;
  overflow: hidden;
  width: 290px;
  border: 1px solid #FF4400;
  border-top: none;
  background-color: #fff;
  position: absolute;
  top: 75px;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 ul {
  display: block;
  height: 32px;
  width: 264px;
  border-right: 1px solid #FF4400;
  margin: 0 26px;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 ul li {
  background-color: #fff;
  float: left;
  height: 32px;
  width: 60px;
  line-height: 32px;
  text-align: center;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 .cancle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 .container .container-2 {
  width: 1160px;
  height: 135px;
  position: relative;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 .container .container-2 div {
  margin-right: -1px;
  border-right: 1px solid #FF4400;
  position: relative;
  float: left;
  width: 290px;
  height: 135px;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 .container .container-2 div input {
  border: 1px solid #9C9C9C;
  margin: 0px 84px 0px 15px;
  width: 188px;
  height: 24px;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 .container .container-2 div span {
  position: absolute;
  top: 31px;
  right: 97px;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 .container .container-2 div img {
  position: absolute;
  top: 5px;
  right: 93px;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 .container .container-2 div p {
  margin: 10px 15px;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 .container .container-2 div p strong {
  color: #FF6600;
  font-weight: bold;
}
#content #main-right .Rtag-2 #Rtag-2-bg2 .container .container-2 div button {
  height: 28px;
  width: 72px;
  background-color: #F22D00;
  margin: -5px 0 5px 15px;
  color: #fff;
  font-weight: bold;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 {
  display: none;
  overflow: hidden;
  width: 290px;
  border: 1px solid #FF4400;
  border-top: none;
  background-color: #fff;
  position: absolute;
  top: 75px;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 ul {
  display: block;
  height: 32px;
  width: 264px;
  border-right: 1px solid #FF4400;
  margin: 0 26px;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 ul li {
  background-color: #fff;
  float: left;
  height: 32px;
  width: 60px;
  line-height: 32px;
  text-align: center;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 .cancle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 .container .container-2 {
  width: 1160px;
  height: 135px;
  position: relative;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 .container .container-2 div {
  margin-right: -1px;
  border-right: 1px solid #FF4400;
  position: relative;
  float: left;
  width: 290px;
  height: 135px;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 .container .container-2 div input {
  border: 1px solid #9C9C9C;
  margin: 0px 84px 0px 15px;
  width: 188px;
  height: 24px;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 .container .container-2 div span {
  position: absolute;
  top: 31px;
  right: 97px;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 .container .container-2 div img {
  position: absolute;
  top: 5px;
  right: 93px;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 .container .container-2 div p {
  margin: 10px 15px;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 .container .container-2 div p strong {
  color: #FF6600;
  font-weight: bold;
}
#content #main-right .Rtag-2 #Rtag-2-bg3 .container .container-2 div button {
  height: 28px;
  width: 72px;
  background-color: #F22D00;
  margin: -5px 0 5px 15px;
  color: #fff;
  font-weight: bold;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 {
  display: none;
  overflow: hidden;
  width: 290px;
  border: 1px solid #FF4400;
  border-top: none;
  background-color: #fff;
  position: absolute;
  top: 75px;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 ul {
  display: block;
  height: 32px;
  width: 264px;
  border-right: 1px solid #FF4400;
  margin: 0 26px;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 ul li {
  background-color: #fff;
  float: left;
  height: 32px;
  width: 60px;
  line-height: 32px;
  text-align: center;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 .cancle {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 .container .container-2 {
  width: 1160px;
  height: 135px;
  position: relative;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 .container .container-2 div {
  margin-right: -1px;
  border-right: 1px solid #FF4400;
  position: relative;
  float: left;
  width: 290px;
  height: 135px;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 .container .container-2 div input {
  border: 1px solid #9C9C9C;
  margin: 0px 84px 0px 15px;
  width: 188px;
  height: 24px;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 .container .container-2 div span {
  position: absolute;
  top: 31px;
  right: 97px;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 .container .container-2 div img {
  position: absolute;
  top: 5px;
  right: 93px;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 .container .container-2 div p {
  margin: 10px 15px;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 .container .container-2 div p strong {
  color: #FF6600;
  font-weight: bold;
}
#content #main-right .Rtag-2 #Rtag-2-bg4 .container .container-2 div button {
  height: 28px;
  width: 72px;
  background-color: #F22D00;
  margin: -5px 0 5px 15px;
  color: #fff;
  font-weight: bold;
}
#content #main-right .app {
  background-color: #fff;
  float: left;
  margin-top: 26px;
  width: 262px;
  padding: 12px 15px;
}
#content #main-right .app #app-1,
#content #main-right .app #app-2,
#content #main-right .app #app-3,
#content #main-right .app #app-4,
#content #main-right .app #app-5,
#content #main-right .app #app-6,
#content #main-right .app #app-7,
#content #main-right .app #app-8,
#content #main-right .app #app-9,
#content #main-right .app #app-10 {
  position: relative;
}
#content #main-right .app span {
  font-size: 14px;
  font-weight: bold;
}
#content #main-right .app a {
  float: right;
}
#content #main-right .app .imgs div {
  margin: 10px 20px 0 0;
  float: left;
}
#content #main-right .app .imgs div:nth-child(5n) {
  margin-right: 0;
}
#content #main-right .app .app-erweima {
  position: absolute;
}
#content #main-btm {
  background-color: #fff;
  position: relative;
  top: -100px;
  left: 82px;
  float: left;
  width: 880px;
  height: 78px;
  padding-left: 10px;
}
#content #main-btm .btm-item {
  cursor: pointer;
  line-height: 20px;
  float: left;
  width: 19%;
  margin: 10px 8px 10px 0;
}
#content #main-btm .btm-item img {
  margin-right: 10px;
  display: inline-block;
  height: 62px;
  width: 62px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #F1F1F1;
  float: left;
}
#content #main-btm .btm-item:hover img {
  border: 1px solid #C2AB9E;
}
#content #main-btm .btm-item .big {
  color: #9A745F;
  font-size: 16px;
  font-weight: bold;
}
#content #main-btm .btm-item .sml {
  color: #9A745F;
}
#content #main-btm .btm-item span {
  background: url(../images/renqi.png) no-repeat left center;
  padding-left: 18px;
}
.top-bg {
  border: 1px solid #EEEEEE;
  border-top: none;
  float: left;
  position: absolute;
  background-color: white;
  overflow: hidden;
  display: none;
  z-index: 999;
}
#top-bg {
  position: relative;
}
#top-bg #top-bg-1 {
  border: 1px solid #EEEEEE;
  border-top: none;
  float: left;
  position: absolute;
  background-color: white;
  overflow: hidden;
  display: none;
  z-index: 999;
  height: 176px;
  width: 266px;
  left: 78px;
  top: 37px;
  padding-bottom: 10px;
}
#top-bg #top-bg-1 #top-bg-1-top {
  margin: 5px 15px 5px 15px;
  border-bottom: 1px solid #EEEEEE;
}
#top-bg #top-bg-1 #top-bg-1-top img {
  display: inline-block;
}
#top-bg #top-bg-1 #top-bg-1-top #guanli {
  position: absolute;
  right: 5px;
  top: 10px;
}
#top-bg #top-bg-1 #top-bg-1-top #huiyuan-icon {
  position: absolute;
  top: 30px;
}
#top-bg #top-bg-1 #top-bg-1-top #zunxiang {
  position: absolute;
  top: 50px;
}
#top-bg #top-bg-1 #top-bg-1-top #zunxiang strong {
  font-weight: bold;
  color: red;
}
#top-bg #top-bg-1 #top-bg-1-bottom {
  width: 500px;
  height: 78px;
  position: relative;
}
#top-bg #top-bg-1 #top-bg-1-bottom #L-btn {
  position: absolute;
  top: 20px;
  left: 10px;
  font-size: 20px;
}
#top-bg #top-bg-1 #top-bg-1-bottom #R-btn {
  position: absolute;
  top: 20px;
  left: 250px;
  font-size: 20px;
}
#top-bg #top-bg-1 #top-bg-1-bottom ul li {
  background: url(../images/bainian.png) no-repeat top center;
  padding-top: 40px;
  width: 55px;
  float: left;
  font-size: 10px;
}
#top-bg #top-bg-1 #top-bg-1-bottom ul li:first-child {
  margin-left: 20px;
}
#top-bg #top-bg-1 #top-bg-1-bottom ul li:nth-child(4) {
  margin-right: 30px;
}
#top-bg #top-bg-2 {
  border: 1px solid #EEEEEE;
  border-top: none;
  float: left;
  position: absolute;
  background-color: white;
  overflow: hidden;
  display: none;
  z-index: 999;
  width: 292px;
  height: 32px;
  left: 164px;
  top: 38px;
  text-align: right;
  padding-right: 10px;
  line-height: 32px;
}
#top-bg #top-bg-3 {
  border: 1px solid #EEEEEE;
  border-top: none;
  float: left;
  position: absolute;
  background-color: white;
  overflow: hidden;
  display: none;
  z-index: 999;
  width: 78px;
  left: 654px;
  top: 38px;
  font-size: 12px;
  padding: 10px 3px;
  line-height: 25px;
}
#top-bg #top-bg-4 {
  border: 1px solid #EEEEEE;
  border-top: none;
  float: left;
  position: absolute;
  background-color: white;
  overflow: hidden;
  display: none;
  z-index: 999;
  width: 314px;
  left: 738px;
  top: 38px;
  font-size: 12px;
  padding: 15px 10px 10px 0;
  line-height: 25px;
}
#top-bg #top-bg-4 button {
  float: right;
  display: inline-block;
  height: 27px;
  width: 106px;
  background-color: #FF4200;
  color: white;
}
#top-bg #top-bg-5 {
  border: 1px solid #EEEEEE;
  border-top: none;
  float: left;
  position: absolute;
  background-color: white;
  overflow: hidden;
  display: none;
  z-index: 999;
  width: 70px;
  left: 838px;
  top: 38px;
  font-size: 12px;
  padding: 15px 10px 10px 5px;
  line-height: 25px;
}
#top-bg #top-bg-6 {
  border: 1px solid #EEEEEE;
  border-top: none;
  float: left;
  position: absolute;
  background-color: white;
  overflow: hidden;
  display: none;
  z-index: 999;
  width: 80px;
  left: 1008px;
  top: 38px;
  font-size: 12px;
  padding: 15px 10px 10px 5px;
  line-height: 25px;
}
#top-bg #top-bg-7 {
  border: 1px solid #EEEEEE;
  border-top: none;
  float: left;
  position: absolute;
  background-color: white;
  overflow: hidden;
  display: none;
  z-index: 999;
  width: 70px;
  left: 1094px;
  top: 38px;
  font-size: 12px;
  padding: 15px 10px 10px 5px;
  line-height: 25px;
}
#top-bg #top-bg-8 {
  border: 1px solid #EEEEEE;
  border-top: none;
  float: left;
  position: absolute;
  background-color: white;
  overflow: hidden;
  display: none;
  z-index: 999;
  width: 1190px;
  left: 74px;
  margin-top: 38px;
}
#top-bg #top-bg-8 .bg-8-1,
#top-bg #top-bg-8 .bg-8-2,
#top-bg #top-bg-8 .bg-8-3,
#top-bg #top-bg-8 .bg-8-4 {
  width: 276px;
  float: left;
  border-right: 1px solid #F5F5F5;
  padding: 10px;
}
#top-bg #top-bg-8 li {
  line-height: 30px;
}
#top-bg #top-bg-8 span {
  font-size: 18px;
  font-weight: bold;
}
#top-bg #top-bg-8 .bg-8-1 span {
  color: red;
}
#top-bg #top-bg-8 .bg-8-2 span {
  color: green;
}
#top-bg #top-bg-8 .bg-8-3 span {
  color: purple;
}
#top-bg #top-bg-8 .bg-8-4 span {
  color: blue;
}
.main-bg {
  display: none;
  border: 2px solid red;
  height: 518px;
  width: 710px;
  background-color: #F4F4F4;
  position: absolute;
  top: 164px;
  z-index: 999;
  left: 272px;
}
.main-bg #main-bg-left {
  float: left;
  width: 422px;
  height: 518px;
  background-color: #fff;
  padding: 0 18px;
}
.main-bg #main-bg-left .left-top {
  background-color: #fff;
  width: 428px;
  height: 28px;
  padding-top: 24px;
  border-bottom: 1px solid #F4F4F4;
}
.main-bg #main-bg-left .left-top img {
  float: left;
}
.main-bg #main-bg-left .left-top a:nth-child(2) {
  font-size: 16px;
  position: relative;
  top: 10px;
  font-weight: bold;
}
.main-bg #main-bg-left .left-top a:nth-child(3) {
  float: right;
  position: relative;
  top: 10px;
}
.main-bg #main-bg-left ul {
  padding-right: 20px;
  margin-top: 10px;
}
.main-bg #main-bg-left ul li {
  float: left;
  line-height: 24px;
  height: 24px;
  margin-right: 10px;
}
.main-bg #main-bg-right {
  width: 240px;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.main-bg #main-bg-right ul li {
  float: left;
  margin-right: 8px;
  margin-top: 10px;
}
